{% extends 'base.html' %}

{% block title %}Logged Out{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body text-center">
        <h3 class="card-title mb-4">Successfully Logged Out</h3>
        <p class="card-text">You have been successfully logged out of Tweet App.</p>
        <a href="{% url 'tweet:login' %}" class="btn btn-primary">Login Again</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}